<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuartzManager.Properties.Settings.QuartzConnectionString"
            connectionString="Data Source=LEEBCARLA3\SQLEXPRESS;Initial Catalog=Quartz;Persist Security Info=True;User ID=QuartzManager;Password=QuartzManager"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>